name: Changesets

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  changesets:
    name: Changesets
    runs-on: ubuntu-latest

    permissions:
      contents: write
      checks: read
      issues: read
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          filter: blob:none
          # We clone using a deploy key so that this workflow can
          # push tags and trigger the release workflow, which GHA
          # tokens don't allow.
          ssh-key: ${{ secrets.DEPLOY_KEY }}
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '*'

      - run: npm install -g $(jq -r '.packageManager' < package.json)
      - run: npm ci

      - run: npm run build
      - run: npm test

      - uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          version: npm run version
          publish: npx changeset tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
