name: Publish to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3

      - name: Create gh-pages
        run: |
          mkdir gh-pages
          cp README.md gh-pages/
          echo "hereby.js.org" >> gh-pages/CNAME
          cat > gh-pages/_config.yml <<EOF
          plugins:
            - jekyll-relative-links
          relative_links:
            enabled: true
            collections: true
          include:
            - README.md
          EOF

      - name: tokei
        run: |
          curl -L https://github.com/XAMPPRocky/tokei/releases/download/v12.1.2/tokei-x86_64-unknown-linux-gnu.tar.gz | tar -zxv
          ./tokei -e '__*__' -o json src bin \
            | jq '{ schemaVersion: 1, label: "total lines", message: .Total.code | tostring, color: "brightgreen" }' \
            > gh-pages/tokei.json

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@5859b4ea7efe6b470a5b19c570460eae9323aefc # v3
        with:
          target_branch: gh-pages
          build_dir: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
